p {
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Open Sans';
        
}

#my_checklist {
    padding-left: 20px;
    padding-right: 20px;
}

#my_checklist label:nth-child(1) {
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

#my_checklist label:nth-child(13) {
    background: #3FA0A0;
    
}

#my_checklist label:nth-child(14) {
    background: #AA9B9E;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;

}


#my_checklist .my_box_label {
    background:#bc99e0;   
    padding:0.5rem 0.75rem;
    
    font-family:'Open Sans';
    font-size:12px;
}

#my_checklist label:nth-child(4) .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
}

#my_checklist label:nth-child(4):hover .tooltiptext {
    visibility: visible;
  }

h1 {
    font-family: 'Open Sans';
    padding-left: 20px;
    padding-right: 20px;
}